<app-menu></app-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card" *ngFor="let products of prods">
    <app-home-items [products]="products" (select)="select($event)"></app-home-items>

    <app-button [products]="products" [title]="title" (add)="add($event)"></app-button>


  </ion-card>
</ion-content>