ion-col a,
ion-col .total,
ion-col .prom {
  float: right;
}

.close-item:hover {
  background: red;
}

.style,
.quantify {
  color: #666666;
  font-size: 14px;
}

.price {
  color: #ecc010;
  float: right;
}

.icon {
  color: #020204;
}

.icon:focus,
.icon:hover {
  color: white;
}
