.title,
.product-style {
  text-align: center;
}

.price-item {
  font-size: 26px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.price-item::before {
  content: " ";
  display: block;
  margin: 5px auto;
  height: 2px;
  width: 20px;
  background: #ecc010;
}

.promo-item {
  text-align: center;
}
