.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.title-card-menu {
  text-align: center;

}

.message-empty {
  text-align: center;
}

.price {
  color: #ecc010;
  float: right;
}

.icon {
  color: #020204;
}

.icon:focus,
.icon:hover {
  color: white;
}